@import "tailwindcss";
@import "@nuxt/ui";


html {
  font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  background-color: #fff;
  color:#000;
}
