@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: #155dfc;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: #fff;
  color:#000;
}


